<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
	<link rel="stylesheet" href="/public/css/bootstrap.min.css">
	<link rel="stylesheet" href="/public/css/bootstrap-vue.min.css">
	<link rel="stylesheet" href="/public/css/main.css">
	<title>Pacman chat</title>
</head>
<body>
	<div id="app" class="container">
		<Auth v-if="!isAuth"></Auth>
		<Chat v-if="isAuth"></Chat>
	</div>

	<template id="auth">
		<form class="form-signin">
			<div class="card w-100">
				<div class="card-body">
					<div class="text-center">
						<i class="logo fas fa-comments"></i>
						<input type="text" class="form-control mb-2" :class="{ 'is-invalid': $root.user.login.invalid }" placeholder="Login" v-model="$root.user.login.value">
						<div class="invalid-feedback mb-2">{{ $root.translate($root.user.login.status) }}</div>
						<button class="btn btn-primary btn-block" type="submit" @click.prevent="$root.auth" :disabled="$root.user.login.value.length >= $root.user.login.maxLoginLength || $root.user.login.value.length === 0">Enter</button>
					</div>
				</div>
			</div>
		</form>
	</template>

	<template id="chat">
		<div class="d-flex flex-column vh-100">
			<div class="card h-100 border-bottom-0 chat__window">
				<Navbar></Navbar>
				<div class="card-body d-flex chat__column">
					<Rooms></Rooms>
					<Messages></Messages>
					<Users></Users>
				</div>
			</div>
			<Message></Message>
		</div>
	</template>

	<template id="navbar">
		<div class="navbar border-bottom">
			<div v-if="$root.room.id !== null" class="btn-group btn-group-sm">
				<div class="btn border border-primary">
					<span class="badge mr-1" :class="getRoomBadge($root.room.status)">{{ $root.room.status }}</span>
					{{ $root.room.name }}
				</div>
				<div class="btn border border-primary">Online: {{ $root.room.online }}</div>
				<div class="btn border border-primary bg-primary text-white cursor-pointer" @click="$root.roomLeave">
					<i class="far fa-times-circle"></i>
				</div>
			</div>
			<div v-else></div>
			<div>
				<span class="text-secondary mr-3">{{ $root.user.login.value }}</span>
				<button type="button" class="btn btn-secondary btn-sm mr-2" title="add room" :disabled="$root.room.id !== null" @click="roomAdd">
					<i class="fas fa-plus-square"></i>
				</button>
				<button type="button" class="btn btn-secondary btn-sm" title="logout" @click="logout">
					<i class="fas fa-sign-out-alt"></i>
				</button>
			</div>

			<b-modal id="room-add" title="Add room" :ok-disabled="room.name.length >= room.maxNameLength || room.name.length === 0" @ok="onModalRoomAdd($event)">
				<form @submit="onModalRoomAdd($event)">
					<input type="text" class="form-control mb-3" :class="{ 'is-invalid': room.invalid }" placeholder="Room name" v-model="room.name">
					<div class="btn-group btn-group-toggle d-flex">
						<label class="btn btn-info cursor-pointer" :class="{ 'active': room.status === 'public' }">
							<input name="type" type="radio" value="public" class="custom-control-input" v-model="room.status">
							Public
						</label>
						<label class="btn btn-info cursor-pointer" :class="{ 'active': room.status === 'privat' }">
							<input name="type" type="radio" value="privat" class="custom-control-input" v-model="room.status">
							Privat
						</label>
					</div>
					<div class="text-center invalid-feedback">{{ $root.translate(room.text) }}</div>
				</form>
			</b-modal>
		</div>
	</template>

	<template id="rooms">
		<div class="overflow-auto border-right rooms">
			<div v-for="room in $root.rooms">
				<button type="button" class="btn text-truncate ml-1 mb-2 room__name" :class="$root.room.name === room.name ? 'btn-success' : 'btn-info'" :title="room.name" @click="$root.roomJoin(room.id)">
					<span class="badge badge-light mr-1">{{ room.online }}</span>
					{{ room.name }}
				</button>
			</div>
			<div v-if="$root.rooms === null" class="text-truncate m-1 room__name" title="Комнаты отсутствуют">Комнаты отсутствуют</div>
		</div>
	</template>

	<template id="messages">
		<div class="overflow-auto chat__messages" ref="chat-messages">
			<div v-for="message in $root.room.messages">
				<div :class="$root.user.login.value === message.login ? 'text-right' : 'text-left'">
					<div class="d-inline-block text-left alert" :class="$root.user.login.value === message.login ? 'alert-success' : 'alert-primary'">
						<div class="font-weight-bold">{{ message.login }}</div>
						{{ message.text }}
					</div>
				</div>
			</div>
			<div v-if="$root.room.id === null" class="text-center text-secondary">Выберите чат для обмена сообщениями</div>
		</div>
	</template>

	<template id="users">
		<div class="overflow-auto border-left users">
			<div v-for="user in $root.room.users" class="text-truncate">{{ user.state }}: {{ user.login }}</div>
		</div>
	</template>

	<template id="message">
		<form class="input-group" @submit.prevent="sendMessage">
			<input type="text" class="form-control message__input" placeholder="Enter message" v-model="text" :disabled="$root.room.id === null">
			<div class="input-group-append">
				<button class="btn btn-primary message__button" type="button" @click="sendMessage" :disabled="$root.room.id === null">
					<i class="fas fa-paper-plane"></i>
				</button>
			</div>
		</form>
	</template>

	<script src="/public/js/vue.min.js"></script>
	<script src="/public/js/socket.io.min.js"></script>
	<script src="/public/js/bootstrap-vue.min.js"></script>
	<script src="/public/js/main.js"></script>
</body>
</html>