.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    margin-top: 120px;
}

.logo {
    font-size: 60px;
    opacity: 0.4;
    margin-bottom: 20px;
}

.navbar {
    padding: 1.5rem 0rem;
    margin: 0 1.5rem;
}

.cursor-pointer {
    cursor: pointer;
}

.chat__column {
    height: calc(100vh - 150px);
}

.chat__messages {
    flex: 1;
    padding: 0 20px;
}

.rooms {
    padding-right: 20px;
}

.room__name {
    width: 150px;
    text-align: left;
}

.users {
    padding-left: 20px;
    margin-right: 5px;
    width: 175px;
}

.user__state {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
}

.user__state--online {
    background-color: #28a745;
}

.user__state--idle {
    background-color: #ffc107;
}

.chat__window {
    border-radius: .25rem .25rem 0 0;
}

.message__input {
    border-radius: 0 0 .25rem .25rem;
}

.message__button {
    border-radius: 0 0 .25rem 0;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none !important;
}

.is-typing {
    transform: translateX(0px);
    font-size: 12px;
    position: relative;
    top: -2px;
    animation: is-typing 1s infinite;
}

@keyframes is-typing {
    0% {
        transform: translateX(0px);
    }

    33% {
        transform: translateX(2px);
    }

    66% {
        transform: translateX(4px);
    }

    100% {
        transform: translateX(6px);
    }
}